<html lang="en">

    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
          <link type="text/css" rel="stylesheet" href="/static/about.css" />

    </header>

    <title>NPM-Registry Group 19</title>

        <div class="parent">
            <div class="navbar-container">
                <div class="navbar-wrapper">
                    <ul class="nav">
                        <li class="nav-item"> 
                        
                                <a class="nav-link" href="/home"> Home </a>
                        
                        </li>
                        <li class="nav-item" style="border-right: none!important"> 
                        
                                <a class="nav-link" href="/about"> About </a>
                        
                        </li>
                    </ul>
                </div>
            </div>
            
            <div style="height: 10px"> </div>
            <div class="container-below">
                <div class="listcontentwrapper">
                    <h1 style="text-align:center; color:rgba(0, 0, 0, 0.7); font-family: Denso Var, sans-serif; text-decoration: underline"> About Page </h1>
                <div style="height: 15px"> </div>
                    
                <img src="/static/ada_compliance.PNG" alt="Compliance Proof">

                  <div class="list_items">
                <div class="text_wrapper">
                
    
                    <div class="content" style="align-items: center;">
                        <p> This project is a NPM-registry with authentication. </p>                   
                        <p> Made as a Final Project for ECE-461. </p>                   
                        <p> Can use with a Rest-API or a minimalistic front-end. </p>
                        <p> This page is ADA-Compliant with the use of axe DevTools. </p>
                    </div>
                </div>

                <div class="text_wrapper">    
                    <div class="content">
                    <p style="border-bottom: 1px solid #000;"> Resources </p>
                    <p> 
                        <a class="a_link2" href="https://engineering.purdue.edu/ECE/Academics/Undergraduates/UGO/CourseInfo/courseInfo/AboutUs?courseid=402&show=true&type=undergrad"> 
                        ECE 461
                        </a>
                        <br>
                        <div style="height:5px"> </div>
                        <a class="a_link2" href="https://engineering.purdue.edu/ECE/People/ptPeopleListing?group_id=2571&resource_id=242045">
                        The Instructors Profile
                        </a>
                        <br>
                        <div style="height:5px"> </div>
                        <a class="a_link2" href="https://www.purdue.edu/">
                        Purdue University
                        </a>
                        <br>
                        <div style="height:5px"> </div>
                        <a class="a_link2" href="https://github.com/gjairath?tab=repositories">
                        A Shameless Plug to my other Side-Projects
                        </a>


                    </p>
                    </div>
                    
                </div>       
                        
                
                <div style="height: 50px">
                </div>


                </div>
                <div class="list_items">
                    <a href="/home" class="a_link"> Home </a> 
                    <a href="https://github.com/Purdue-ECE-461/project-2-project-2-19" class="a_link"> GitHub </a> 
                    <a href="https://github.com/Purdue-ECE-461/project-2-project-2-19" class="a_link"> Contact </a>
                </div>
                </div>
        </div>
        
        

        

</html>